<div class="row mx-0">
  <div class="col-lg-8 col-12 left">
    <nav class="row mx-0 navlogo">
      <a href="/"><img src="../../assets/logo2.png" alt="" /></a>
    </nav>
    <div class="left-block-form">
      <app-step-mark></app-step-mark>
      <p class="text-xxl text-dark">Basic farm details</p>
      <div class="form-boxes">
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field mt-1">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field mt-0 mb-0">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder " class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <p  >
          <mat-form-field appearance="outline" class="mat-form-field ">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" class="inpt">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <form class="example-form">
          <mat-form-field appearance="outline" >
            <mat-label>outline</mat-label>
            <input matInput placeholder="Favorite food " class="inpt">
          </mat-form-field>
        </form>
      </div>

    </div>
    
  </div>
  <div class="col-lg-4 col-12 right">
    <app-nav-menu></app-nav-menu>
    <div class="info-box w-full">
      <h6><img src="../../assets/foot 1.png" />Did you know?</h6>
      <p>
        Globally, the average carbon footprint for a person is closer to 4 tons.
        To have the best chance of avoiding a 2℃ rise in global temperatures,
        the average global carbon footprint per year needs to drop under 2 tons
        by 2050.
      </p>
    </div>
  </div>
</div>
