@import '../variables.css';

.timeline-label {
    font-size: 11px;
    color: var(--info) !important;
    display: flex !important;
    align-items: center !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
    padding-bottom: 19px !important;
}
.current-step, .pending-step {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.line-div-pending {
    border-bottom: 3px solid var(--blue-haze) !important;
}
.step-index {
    font-weight: 700 !important;
    font-size: 30px !important;
    color: #000 !important;
    margin-right: 14px !important;
}
.completed-step {
    background: var(--primary) !important;
    width: 25px !important;
    height: 25px !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.circle, .completed-step {
    border-radius: 50% !important;
}
.circle {
    background: #fff !important;
    width: 17px !important;
    height: 17px !important;
}
.pending-step {
    background: var(--blue-haze) !important;
}
.line-div {
    border-bottom: 3px solid var(--primary) !important;
    width: 78% !important;
    margin-left: auto !important;
}
.current-label {
    color: var(--primary) !important;
    font-weight: 700 !important;
}
.current-step {
    background: var(--primary) !important;
}
.lh-11px {
    line-height: 15px !important;
}