<div  class="row mr-0 mb-5">
    <div
      class="
        col
        pr-0
        d-flex
        flex-column
        justify-content-between
        ng-star-inserted
      "
    >
      <p  class="timeline-label mb-0 cursor-pointer">
        <span  class="step-index">01</span
        ><span  class="lh-11px current-label"
          >Gather data</span
        >
      </p>
      <div  class="d-flex flex-row align-items-center">
        <div  class="completed-step ng-star-inserted">
          <i  class="fa fa-check ng-star-inserted"></i
          >
        </div>
        
        <div  class="line-div ng-star-inserted"></div>
      </div>
    </div>
    <div
      
      class="
        col
        pr-0
        d-flex
        flex-column
        justify-content-between
        ng-star-inserted
      "
    >
      <p  class="timeline-label mb-0">
        <span  class="step-index">02</span
        ><span  class="lh-11px current-label"
          >Basic farm details</span
        >
      </p>
      <div  class="d-flex flex-row align-items-center">
        <!----><!---->
        <div  class="current-step ng-star-inserted">
          <div  class="circle"></div>
        </div>
        <!---->
        <div
          
          class="line-div line-div-pending ng-star-inserted"
        ></div>
        <!---->
      </div>
    </div>
    <div
      
      class="
        col
        pr-0
        d-flex
        flex-column
        justify-content-between
        ng-star-inserted
      "
    >
      <p  class="timeline-label mb-0">
        <span  class="step-index">03</span
        ><span  class="lh-11px"
          >Calculation for carbon foot print</span
        >
      </p>
      <div  class="d-flex flex-row align-items-center">
        <div  class="pending-step ng-star-inserted">
          <div  class="circle"></div>
        </div>
        
        <div
          class="line-div line-div-pending ng-star-inserted"
        ></div>
        <!---->
      </div>
    </div>
    <div
      
      class="
        col
        pr-0
        d-flex
        flex-column
        justify-content-between
        ng-star-inserted
      "
    >
      <p  class="timeline-label mb-0">
        <span  class="step-index">04</span
        ><span  class="lh-11px"
          >Calculation for labels</span
        >
      </p>
      <div  class="d-flex flex-row align-items-center">
        <!---->
        <div  class="pending-step ng-star-inserted">
          <div class="circle"></div>
        </div>
        <!----><!----><!---->
      </div>
    </div>
    <!---->
  </div>