<div class="row mx-0">
  <div class="col-lg-8 col-12 left">
    <img src="../../assets/logo2.png" alt="" class="logo" />
    <p class="text-xxl text-primary pt-4">
      Lets calculate your farms carbon footprint
    </p>
    <p class="text-p text-success">
      You can either import data by uploading an XML file or you can download
      the excel template or fill in the details online for calculating your
      carbon footprint.
    </p>
    <div class="row mx-0">
      <div class="col data-buttons ms-0">
        <mat-icon
          role="img"
          class="mat-icon notranslate large material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >description</mat-icon
        ><br />
        Import data from an XML file
        <mat-icon
          role="img"
          class="mat-icon notranslate arrow material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >east</mat-icon
        ><input type="file" accept="text/xml" hidden="" />
      </div>
      <a
        href="./assets/WorldClimateFarmTool_Excel.xlsx"
        target="_blank"
        class="col data-buttons"
        ><mat-icon
          role="img"
          class="mat-icon notranslate large material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >file_download</mat-icon
        ><br />
        Download excel template <br /><mat-icon
          role="img"
          class="mat-icon notranslate arrow material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >east</mat-icon
        ></a
      >
      <div routerlink="/farm-details" class="col data-buttons" tabindex="0">
        <mat-icon
          role="img"
          class="mat-icon notranslate large material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >app_registration</mat-icon
        ><br />
        Add details online <br /><mat-icon
          role="img"
          class="mat-icon notranslate arrow material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >east</mat-icon
        >
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 right">
    <app-nav-menu></app-nav-menu>
    <div  class="info-box w-full">
      <h6 >
        <img  src="../../assets/foot 1.png" />Did you
        know?
      </h6>
      <p >
        Globally, the average carbon footprint for a person is closer to 4 tons.
        To have the best chance of avoiding a 2℃ rise in global temperatures,
        the average global carbon footprint per year needs to drop under 2 tons
        by 2050.
      </p>
    </div>
  </div>
</div>
